<p-toast position="top-right"></p-toast>
<div>
  <form
    #deliveryAddressForm="ngForm"
    (ngSubmit)="nextPage(deliveryAddressForm)"
  >
    <p-card>
      <ng-template pTemplate="title"> Delivery Address </ng-template>
      <ng-template pTemplate="subtitle">
        Choose your delivery address
      </ng-template>
      <ng-template pTemplate="content">
        <div class="p-fluid">
          <div class="field">
            <label for="name">Address Name</label>
            <input
              #name="ngModel"
              id="name"
              name="name"
              type="text"
              maxlength="64"
              [(ngModel)]="deliveryAddress.name"
              [ngClass]="{
                'ng-dirty':
                  (name.invalid && submitted) || (name.dirty && name.invalid)
              }"
              required
              pInputText
            />
            <small
              *ngIf="name.invalid && (name.dirty || name.touched || submitted)"
              class="p-error"
              >Address Name is required.</small
            >
          </div>

          <div class="field">
            <label for="name">Phone Number</label>
            <input
              #phoneNumber="ngModel"
              id="phoneNumber"
              name="phoneNumber"
              type="text"
              maxlength="12"
              [(ngModel)]="deliveryAddress.phoneNumber"
              [ngClass]="{
                'ng-dirty':
                  (phoneNumber.invalid && submitted) || (phoneNumber.dirty && phoneNumber.invalid)
              }"
              required
              pInputText
            />
            <small
              *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched || submitted)"
              class="p-error"
              >Phone Number is required.</small
            >
          </div>

          <div class="field">
            <label for="addressTxt1">Address Line One</label>
            <input
              #addressTxt1="ngModel"
              id="addressTxt1"
              name="addressTxt1"
              type="text"
              maxlength="256"
              [(ngModel)]="deliveryAddress.addressLineOne"
              [ngClass]="{
                'ng-dirty':
                  (addressTxt1.invalid && submitted) ||
                  (addressTxt1.dirty && addressTxt1.invalid)
              }"
              required
              pInputText
            />
            <small
              *ngIf="
                addressTxt1.invalid &&
                (addressTxt1.dirty || addressTxt1.touched || submitted)
              "
              class="p-error"
              >Address is required.</small
            >
          </div>

          <div class="field">
            <label for="addressTxt2">Address Line Two</label>
            <input
              #addressTxt1="ngModel"
              id="addressTxt2"
              name="addressTxt2"
              type="text"
              maxlength="256"
              [(ngModel)]="deliveryAddress.addressLineTwo"
              pInputText
            />
          </div>

          <div class="field">
            <label for="postalCodeTxt">Postal Code</label>
            <input
              #postalCodeTxt="ngModel"
              id="postalCodeTxt"
              name="postalCodeTxt"
              type="text"
              maxlength="6"
              placeholder="XXXXXX"
              [(ngModel)]="deliveryAddress.postalCode"
              minlength="6"
              pattern="\d{6}"
              title="Postal Code is not correctly formatted"
              required
              pInputText
            />
            <small
              *ngIf="
                postalCodeTxt.invalid &&
                (postalCodeTxt.dirty || postalCodeTxt.touched || submitted)
              "
              class="p-error"
              >Postal Code is required and format must be in SXXXXXX.</small
            >
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-end">
          <p-button
            type="submit"
            label="Next"
            icon="pi pi-angle-right"
            iconPos="right"
          ></p-button>
        </div>
      </ng-template>
    </p-card>
  </form>
</div>
