<p-toast position="top-right"></p-toast>
<div class="product-card">
  <div class="product-container grid">
    <div class="col-12 mb-4">
      <p-panel>
        <ng-template pTemplate="header">
          <p-breadcrumb [model]="items" class="product-details-breadcrumb"></p-breadcrumb>
        </ng-template>
        <div class="grid">
          <div class="col-5 img-box">
            <img
              [src]="
                'http://localhost:8080/SuitUp-war/uploadedFiles/productImages/' +
                standardProductToView.image
              "
              [alt]="standardProductToView.name"
              class="product-img"
            />
          </div>
          <div class="col-7 ml-4">
            <h1>{{ standardProductToView.name }}</h1>
            <h2>Category: {{ standardProductToView.category?.name }}</h2>
            <h4>{{ standardProductToView.description }}</h4>
            <p>Tags:</p>
            <p-tag
              *ngFor="let tag of standardProductToView.tags"
              [rounded]="true"
              class="mr-2 product-tag"
              >&nbsp; {{ tag.name }} &nbsp;
            </p-tag>
            <h3>Price: {{ standardProductToView.unitPrice | currency }}</h3>
            <form #addToCartForm="ngForm" (ngSubmit)="addToCart(addToCartForm)">
              <div class="mb-2 mt-4">
                <p-button
                  type="submit"
                  label="Add To Cart"
                  class="default-button"
                ></p-button>
              </div>
            </form>
          </div>
        </div>
      </p-panel>
      <!-- </div> -->
    </div>
  </div>
</div>
