.product-container {
    margin: 3em auto;
    width: 70vw;
}

.product-img {
    height: 100%;
    width: 100%;
}

.img-box {
    height: 25vw;
    width: 25vw;
    margin-right: 3em;
}

.inline {
    display: inline-block;
    margin-right: 0.8em;
}

.label {
    width: 3em;
}

.description-container {
    padding: 0.5em 1.5em;
}


th,
td {
    padding: 0.5em 1.5em 0 0.5em;
}
