<div class="product-card">
  <div class="product-container p-grid">
    <div class="p-col-12 p-mb-4">
      <div class="p-grid">
        <div class="img-box">
          <img
            [src]="
              'http://localhost:8080/SuitUp-war/uploadedFiles/productImages/' +
              standardProductToView.image
            "
            [alt]="standardProductToView.name"
            class="product-img"
          />
        </div>
        <div>
          <p-panel header="{{ standardProductToView.name }}">
            <h1>{{ standardProductToView.name }}</h1>
            <h2>Category: {{ standardProductToView.category?.name }}</h2>
            <h4>Description: {{ standardProductToView.description }}</h4>
            <p>Tags:</p>
            <li *ngFor="let tag of standardProductToView.tags">
              {{ tag.name }}
            </li>
            <h3>Price: $ {{ standardProductToView.unitPrice }}</h3>
            <form #addToCartForm="ngForm" (ngSubmit)="addToCart(addToCartForm)">
              <div class="p-mb-2">
                <p-button type="submit" label="Add To Cart"></p-button>
              </div>
            </form>
          </p-panel>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
