<div>
  <p-card>
    <ng-template pTemplate="title"> Order Summary </ng-template>
    <ng-template pTemplate="subtitle"> View order details </ng-template>
    <ng-template pTemplate="content">
      <div class="p-fluid">
        <h3>View Order</h3>
        <div class="p-field">
          <p-table [value]="orderLineItems">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 10%; text-align: center">S/N</th>
                <th>Image</th>
                <th style="width: 20%">Product Name</th>
                <th style="width: 17%; text-align: center">Unit Price</th>
                <th style="width: 12%; text-align: center">Quantity</th>
                <th style="width: 15%; text-align: center">Subtotal</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orderItem let-rowIndex="rowIndex">
              <tr>
                <td>{{ rowIndex + 1 }}</td>
                <td>
                  <div class="p-d-flex p-ai-center">
                    <img
                      [src]="
                        'http://localhost:8080/SuitUp-war/uploadedFiles/productImages/' +
                        orderItem.product.image
                      "
                      [alt]="orderItem.product.name"
                      class="product-img"
                    />
                  </div>
                </td>
                <td>
                  {{ orderItem.product.name }}
                </td>
                <td class="text-center">
                  {{
                    orderItem.product.unitPrice ?? orderItem.product.totalPrice
                      | currency
                  }}
                </td>
                <td class="text-center">
                  {{ orderItem.quantity }}
                </td>
                <td class="text-center">
                  {{ orderItem.subTotal | currency }}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer"> </ng-template>

            <ng-template pTemplate="summary">
              <div class="flex align-items-center justify-content-between">
                <div class="mr-2">
                  This order has
                  {{ order.orderLineItems ? order.orderLineItems.length : 0 }}
                  products.
                </div>
              </div>
            </ng-template>
          </p-table>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
