.standardProducts-container {
    margin: 1em auto;
    width: 95vw;
}
.filter-bar {
    float:left;
}

.standardProduct-grid-item {
    margin: 0.5em;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    color:black;
}

.standardProduct-grid-item-top {
    font: 30px;
    text-align: left;
    margin: 0 1.5em 0.5em;
    color:black;
}


.product-img {
    height: 100%;
    width: 100%;
}

.img-box {
    height: 12vw;
    width: 14vw;
    margin: 0 auto;
}

.product-name {
    padding: 0.5em;
    height: 3.5em;
    align-items: center;
    display: flex;
    justify-content: center;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:link:active,
a:visited:active {
    color: white;
    text-decoration: none;
}
