<div class="standardProducts-container grid">
  <app-filter-bar class="col-2"></app-filter-bar>

  <p-dataView
    #dv
    [value]="standardProducts"
    [paginator]="true"
    [rows]="16"
    layout="grid"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    filterBy="name"
    layout="grid"
    class="col-10"
  >
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <span class="p-input-icon-left mb-2 md:mb-0">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($any($event.target).value)">
      </span>
        <p-dropdown
          [options]="sortOptions"
          [(ngModel)]="sortKey"
          placeholder="Sort By"
          (onChange)="onSortChange($event)"
        ></p-dropdown>
      </div>
    </ng-template>

    <ng-template let-standardProduct pTemplate="gridItem">
      <div>
        <a
          href="#"
          routerLink="/viewProductDetails/{{ standardProduct.productId }}"
        >
          <div class="standardProduct-grid-item card">
            <div class="standardProduct-grid-item-top">
              <div>
                <i class="pi pi-tag product-category-icon"></i>
                <span class="standardProduct-category"
                  >&nbsp;{{ standardProduct.category.name }}</span
                >
              </div>
            </div>
            <div class="standardProduct-grid-item-content">
              <div class="img-box mt-2 mb-3">
                <img
                  [src]="
                    'http://localhost:8080/SuitUp-war/uploadedFiles/productImages/' +
                    standardProduct.image
                  "
                  [alt]="standardProduct.name"
                  class="standardProduct-img"
                  width="80%"
                  height="100%"
                />
              </div>
            </div>
            <div class="standardProduct-name">
              {{ standardProduct.name }}
            </div>
            <div class="standardProduct-unitPrice mt-2">
              {{ standardProduct.unitPrice | currency }}
            </div>
          </div>
        </a>
      </div>
    </ng-template>
  </p-dataView>
</div>
