.suitup {
color: #02075d;
}

.black {
color: black;
}

.default {
background-color: #02075d !important;
border-color: #02075d !important;
}

.container {
display: flex;
flex-direction: row;
justify-content: end;
gap: 16px;
padding-top: 16px;
padding-bottom: 16px;
background-color: #D3D3D3;
}

.cards {
display: flex;
flex-direction: row;
gap: 30px;
flex-wrap:wrap;
}
