<p-toast></p-toast>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

<div class="account-container">
  <app-account-menu></app-account-menu>
  <div class="account-card">
    <h2>Password</h2>
    <p>Change your password</p>

    <hr style="opacity: 0.1" />
    <br />

    <div>
      <form
        #changePasswordForm="ngForm"
        (ngSubmit)="changePassword(changePasswordForm)"
      >
        <div class="p-fluid">
          <div class="space-input">
            <label for="oldPwd">Current Password</label>
            <div>
              <input
                #oldPwd="ngModel"
                id="oldPwd"
                name="oldPwd"
                type="password"
                [(ngModel)]="oldPassword"
                placeholder="Current Password"
                required
                pInputText
              />
            </div>
            <div
              *ngIf="
                oldPwd.invalid && (oldPwd.dirty || oldPwd.touched || submitted)
              "
              class="errorText"
            >
              <div *ngIf="oldPwd.errors?.['required']">
                Current Password is required.
              </div>
            </div>
          </div>

          <div class="space-input">
            <label for="newPwd">New Password</label>
            <div>
              <input
                #newPwd="ngModel"
                id="newPwd"
                type="password"
                name="newPwd"
                placeholder="New Password"
                [(ngModel)]="newPassword"
                required
                pInputText
              />
            </div>
            <div
              *ngIf="
                newPwd.invalid && (newPwd.dirty || newPwd.touched || submitted)
              "
              class="errorText"
            >
              <div *ngIf="newPwd.errors?.['required']">
                New Password is required.
              </div>
            </div>
          </div>

          <div class="space-input">
            <label for="cfmPwd"> Confirm Password</label>
            <div>
              <input
                #cfmPwd="ngModel"
                id="cfmPwd"
                name="cfmPwd"
                type="password"
                placeholder="Confirm Password"
                [(ngModel)]="confirmPassword"
                required
                pInputText
              />
            </div>
            <div
              *ngIf="
                cfmPwd.invalid && (cfmPwd.dirty || cfmPwd.touched || submitted)
              "
              class="errorText"
            >
              <div *ngIf="cfmPwd.errors?.['required']">
                Confirm Password is required.
              </div>
            </div>
          </div>

          <div>
            <div class="save-button">
              <span>
                <p-button label="Save" type="submit"></p-button>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
