<p>
	{{message}}
</p>

<h2>View All Stores (Temp, j to see if it works)</h2>

<p-table [value]="stores">
	<ng-template pTemplate="header">
		<tr>					
			<th>Store ID</th>
			<th>Store Name</th>					
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-store>
		<tr>
			<td>{{store.storeId}}</td>				
			<td>{{store.storeName}}</td>					
		</tr>
	</ng-template>
</p-table>

<!-- 	
	<table border="1">
		<thead>
			<tr>
				<th>Store ID</th>
				<th>Store Name</th>				
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let store of stores">
				<td>{{store.storeId}}</td>
				<td>{{store.storeName}}</td>		
			</tr>
		</tbody>
	</table> -->
