/* Index Page */
.index-banner-top {
    background-image: url('src/assets/images/index-hero-banner.png');
    /* height: 90vh; */
    /* height: 570px; */
    height: calc(42.4vw);
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    /* background-attachment: fixed;  */
    /* background-size: 100% 100%; */
    background-size: cover;
}

.index-button {
    position: relative;
    top: 70%;
    left: 63%;
    color: white !important;
}

.index-banner-second {
    background-image: url('src/assets/images/index-hero-banner-2.png');
    /* height: 570px;
    background-repeat: no-repeat;
    background-size: contain; */
    height: calc(42.4vw);
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    background-size: cover;
}

.index-button-2 {
    position: relative;
    top: 70%;
    left: 17%;
    color: white !important;
}