<div class="grid">
  <div class="index-banner-top col-12">
    <button
      pButton
      pRipple
      type="button"
      label="Create Your Custom Suit"
      class="p-button-outlined p-button-rounded p-button-secondary index-button p-button-lg"
      routerLink="/createNewCustomizedSuit"
    ></button>
  </div>

  <div class="index-banner-second col-12">
    <button
      pButton
      pRipple
      type="button"
      label="Shop Our Products"
      class="p-button-outlined p-button-rounded p-button-secondary index-button-2 p-button-lg"
      routerLink="/viewAllProducts"
    ></button>
  </div>
</div>
