<p-toast></p-toast>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

<div class="account-container">
  <app-account-menu></app-account-menu>
  <div class="account-card">
    <h2>My Profile</h2>
    <p>Manage your profile</p>

    <hr style="opacity: 0.1" />
    <br />

    <div>
      <form
        #updateProfileForm="ngForm"
        (ngSubmit)="updateProfile(updateProfileForm)"
      >
        <div class="p-fluid">
          <div>
            <label for="email">Email</label>
            <div class="space-input">
              <input
                #email="ngModel"
                id="email"
                name="email"
                type="text"
                [(ngModel)]="currentCustomer.email"
                required
                pInputText
                disabled
              />
            </div>
          </div>

          <div class="space-input">
            <label for="firstName">First Name</label>
            <div>
              <input
                #firstName="ngModel"
                id="firstName"
                type="text"
                name="firstName"
                [(ngModel)]="currentCustomer.firstName"
                required
                pInputText
                maxlength="32"
              />
            </div>
            <div
              *ngIf="
                firstName.invalid &&
                (firstName.dirty || firstName.touched || submitted)
              "
              class="errorText"
            >
              <div *ngIf="firstName.errors?.['required']">
                First Name is required.
              </div>
            </div>
          </div>

          <div class="space-input">
            <label for="lastName"> Last Name</label>
            <div>
              <input
                #lastName="ngModel"
                id="lastName"
                name="lastName"
                type="text"
                [(ngModel)]="currentCustomer.lastName"
                required
                pInputText
                maxlength="32"
              />
            </div>
            <div
              *ngIf="
                lastName.invalid &&
                (lastName.dirty || lastName.touched || submitted)
              "
              class="errorText"
            >
              <div *ngIf="lastName.errors?.['required']">
                Last Name is required.
              </div>
            </div>
          </div>

          <div class="space-input">
            <label for="contactNumber">Contact Number</label>
            <div>
              <input
                #contactNumber="ngModel"
                id="contactNumber"
                name="contactNumber"
                type="text"
                [(ngModel)]="currentCustomer.contactNumber"
                required
                pInputText
                maxlength="10"
              />
            </div>
            <div
              *ngIf="
                contactNumber.invalid &&
                (contactNumber.dirty || contactNumber.touched || submitted)
              "
              class="errorText"
            >
              <div *ngIf="contactNumber.errors?.['required']">
                Contact Number is required.
              </div>
            </div>
          </div>

          <div>
            <div class="save-button">
              <span>
                <p-button label="Save" type="submit"></p-button>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
